.read-more {
/*dark color on mouseover */
}

.quote {
/*  border-left : 5px solid #d25349; */
  border-left : 5px solid #b3b3b1;
  padding-left : 25px;
  margin-top : 10px;
  padding-top : 5px;
  padding-bottom : 5px;
}
.cf:after {
  content: "";
  display: table;
  clear: both;
}

.summary {
  font-style : italic;
  color : #999999;
}

@font-face {
  font-family: icons;
  font-weight: normal;
  font-style: normal;
  src: url("fonts/icons.eot");
  src: url("fonts/icons.eot?#iefix") format("embedded-opentype"), url("fonts/icons.woff") format("woff"), url("fonts/icons.ttf") format("truetype"), url("fonts/icons.svg#icons") format("svg");
}
/* Apply these base styles to all icons */
.icon-ghost:before,
.icon-feed:before,
.icon-twitter:before,
.icon-google-plus:before,
.icon-facebook:before {
  font-family: "icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}
/* Each icon is created by inserting the corret character into the content of the :before pseudo element. Like a boss. */
.icon-ghost:before {
  content: "\e000";
}
.icon-feed:before {
  content: "\e001";
}
.icon-twitter:before {
  content: "\e002";
  font-size: 1.1em;
}
.icon-google-plus:before {
  content: "\e003";
}
.icon-facebook:before {
  content: "\e004";
}
body {
  font-family: Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}
.logo-readium {
  position: fixed;
  left: 10px;
  top: 10px;
  width: 48px;
  height: 48px;
  background-color: black;
  overflow: hidden;
  z-index: 99;
}
.logo-readium .logo {
  display: block;
  position: absolute;
  top: 8px;
  left: 8px;
  width: 32px;
  height: 32px;
  background-image: url("img/readium-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.teaserimage {
  height: 450px;
  position: relative;
  overflow: hidden;
  background-color: black;
}
.teaserimage .teaserimage-image {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  text-indent: -9999px;
}
.blog-header {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 800px) {
  .blog-header {
    padding: 0 16px;
  }
}
.blog-header .blog-logo {
  width: 120px;
  height: 120px;
  position: absolute;
  top: -60px;
  right: 50%;
  margin-right: -60px;
  background-size: cover;
  border-radius: 50%;
  z-index: 99;
  text-indent: -9999px;
  border: 3px solid white;
  background-color: white;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.blog-header .blog-title {
  margin: 0;
  padding: 84px 16px 8px;
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  letter-spacing: -2px;
  outline: 0;
  line-height: 50px;
  word-break: break-word;
  color: #333333;
}
.blog-header .blog-description {
  margin: 0 0 20px;
  padding: 0 32px;
  font-size: 18px;
  line-height: 1.5;
  color: #666666;
  text-align: center;
  font-weight: 400;
}
.blog-header .custom-links {
  margin: 0 0 50px;
  text-align: center;
  color: #cccccc;
}
.blog-header .custom-links a {
  text-decoration: none;
  color: #999999;
}
.blog-header .custom-links a:hover {
  color: #333333;
}
.content {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 800px) {
  .content {
    padding: 0 32px;
  }
}
.content article {
  padding: 40px 0;
  border-bottom: 1px solid #f2f2f0;
}
.content article:last-child {
  border-bottom: 0px;
}
.post-title {
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  display: block;
  font-size: 28px;
  line-height: 1.1;
  margin: 0 0;
  text-align: center;
}
.post-title a {
  text-decoration: none;
  color: #333332;
}
.post-title a:hover {
  text-decoration: none;
}
.post-excerpt {
  letter-spacing: -0.02em;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 1.3;
  color: #666665;
}
.post-meta {
  font-size: 14px;
  color: #b3b3b1;
  line-height: 30px;
}
.post-meta a {
  color: #b3b3b1;
  text-decoration: none;
}
.post-meta a:hover {
  text-decoration: underline;
}
.container.featured {
  padding-bottom: 40px;
}
.post-template .content {
  max-width: 700px;
}
.index-headline {
  border-top: 1px solid #dededc;
  margin: 0;
  padding: 16px 0;
}
.index-headline span {
  color: #b3b3b1;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.archive-template .index-headline.featured {
  display: none;
}
.pagination {
  text-align: center;
  padding: 48px 0 0;
  font-size: 12px;
}
.pagination a {
  color: #999999;
  text-decoration: none;
}
.pagination a:hover {
  color: #333333;
}
.post-reading {
  position: absolute;
  top: 10px;
  right: 30px;
  line-height: 44px;
  display: inline-block;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.25);
  font-size: 14px;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  font-family: Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
  z-index: 999;
}
.tag-articleimage .post-reading {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 0px 0px 1px rgba(0, 0, 0, 0.5);
}
.site-footer {
  margin: 0 auto;
  padding: 48px 0;
  width: 100%;
  max-width: 640px;
  font-size: 12px;
  text-align: center;
  color: #999999;
  line-height: 17.6px;
}
.site-footer a {
  color: #666666;
  text-decoration: none;
}
.site-footer a:hover {
  color: #333333;
}
.post .article-image {
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.post .article-image .post-image-image {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-indent: -9999px;
  padding-top: 33%;
  z-index: 1;
}
.post .article-image .post-meta {
  position: absolute;
  bottom: 80px;
  left: 30%;
  right: 30%;
  z-index: 999;
  font-family: Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 800px) {
  .post .article-image .post-meta {
    left: 16px;
    right: 16px;
  }
}
.post .article-image .post-title {
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.04em;
  font-size: 50px;
  line-height: 1.1;
  color: white;
  margin-bottom: 16px;
  text-shadow: 0px 1px 16px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.5);
}
.post .article-image .author-image {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 8px;
  margin-bottom: -10px;
  float: left;
  background-size: cover;
  border-radius: 100%;
  text-indent: -9999px;
}
.post .article-image .author-name {
  display: inline;
}
.post .article-image .post-meta-text {
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 0px 0px 1px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  overflow: hidden;
  font-family: Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.post .article-image .post-meta-text a {
  color: rgba(255, 255, 255, 0.75);
}
.post .article-image .post-meta-text a:hover {
  color: white;
}
.post .article-image .fa-angle-down {
  font-size: 32px;
  margin: 64px auto 0;
  color: rgba(255, 255, 255, 0.75);
}
.post .article-image .fa-angle-down:hover {
  color: white;
}
.post .article-image .topofpage {
  text-decoration: underline;
}
.post .noarticleimage .post-meta {
  font-family: Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding-top: 60px;
}
.post .noarticleimage .post-title {
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.04em;
  font-size: 50px;
  line-height: 1.1;
  color: #333332;
  margin-bottom: 16px;
}
.post .noarticleimage .author-image {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 8px;
  margin-bottom: -10px;
  float: left;
  background-size: cover;
  border-radius: 100%;
  text-indent: -9999px;
}
.post .noarticleimage .author-name {
  display: inline;
}
.post .noarticleimage .post-meta-text {
  color: #b3b3b1;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  overflow: hidden;
  font-family: Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.post .post-content {
  width: 100%;
  font-family: Linux Libertine;
  color: #333333;
}
.post .post-content h1,
.post .post-content h2,
.post .post-content h3 {
  font-family: Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.post .post-content h3,
.post .post-content h4,
.post .post-content h5,
.post .post-content h6 {
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 1.3;
  margin: 0;
  font-family: Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-bottom: 4px;
}
.post .post-content h2,
.post .post-content h1 {
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 1.2;
  padding-top: 31px;
  margin-bottom: 4px;
}
.post .post-content p {
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 30px;
  margin: 0;
  padding-bottom: 30px;
  color: #333333;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.post .post-content a {
  color: #333333;
  text-decoration: underline;
}
.post .post-content img {
  max-width: 100%;
  margin: 0 auto;
}
.post .post-content figure {
  margin: 0;
  padding: 0 0 30px;
}
.post .post-content figcaption {
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 1.3;
  color: #666665;
  outline: 0;
  z-index: 300;
  text-align: center;
}
.post .post-content code {
  background-color: #333333;
  color: white;
  border-color: #333333;
  font-family: Inconsolata, monospace, sans-serif;
  border-radius: 8px;
  padding: 2px 4px 4px;
  position: relative;
  top: -3px;
  white-space: nowrap;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}
.post .post-content pre > code {
  background-color: #333333;
  border-color: #333333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.33rem 1.7689rem;
  color: white;
  line-height: 1.4;
  width: 100%;
  display: block;
  white-space: pre;
  overflow: auto;
  border-radius: 8px;
}
.post .post-content pre {
  padding: 0;
  margin: 0 0 2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.post .post-content pre code,
.post .post-content tt {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  border: none;
}
.post .post-content hr {
  border: 0;
  padding: 0;
  display: block;
  width: 15%;
  margin: 30px auto;
  border: 0px solid #dddddd;
  border-top: 1px solid #dddddd;
}
.post .post-content blockquote {
  margin: 0 0 30px;
  border: none;
}
.post .post-content blockquote p {
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: italic;
  border-left: 3px solid #57ad68;
  padding-left: 20px;
  margin-left: -26px;
  padding-bottom: 3px;
}
.post .post-content ul,
.post .post-content ol {
  padding: 0 0 30px;
  margin: 0;
}
.post .post-content ul li,
.post .post-content ol li {
  padding: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  line-height: 30px;
  margin-left: 30px;
  margin-bottom: 12px;
  padding-top: 2px;
}
.post .post-content ul li p,
.post .post-content ol li p {
  padding: 0 0 1.618rem;
}
.post .post-content ol li {
  list-style-type: decimal;
}
.post .bottom-teaser {
  padding: 50px 0;
  font-family: Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.post .bottom-teaser hr {
  border: 0;
  padding: 0;
  display: block;
  width: 15%;
  margin: 16px 0 16px 100px;
  border: 0px solid #dddddd;
  border-top: 1px solid #dddddd;
}
.post .bottom-teaser .isLeft {
  float: left;
  width: 47%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 800px) {
  .post .bottom-teaser .isLeft {
    width: 100%;
    padding-bottom: 32px;
  }
}
.post .bottom-teaser .isLeft .index-headline {
  padding-bottom: 32px;
}
.post .bottom-teaser .isLeft a {
  color: black;
  text-decoration: none;
}
.post .bottom-teaser .isLeft a:hover {
  color: #333333;
  text-decoration: underline;
}
.post .bottom-teaser .isLeft .author-image {
  display: block;
  width: 80px;
  height: 80px;
  float: left;
  background-size: cover;
  border-radius: 100%;
  text-indent: -9999px;
}
.post .bottom-teaser .isLeft h4 {
  font-size: 18px;
  line-height: 1.1;
  font-weight: 700;
  padding: 0;
  margin: 0;
  padding-left: 100px;
}
.post .bottom-teaser .isLeft p {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
  padding: 0;
  margin: 0;
  padding-left: 100px;
}
.post .bottom-teaser .isLeft p.published {
  color: #999999;
}
.post .bottom-teaser .isRight {
  float: right;
  width: 47%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 800px) {
  .post .bottom-teaser .isRight {
    width: 100%;
  }
}
.post .bottom-teaser .isRight .index-headline {
  padding-bottom: 32px;
}
.post .bottom-teaser .isRight .site-footer {
  margin: 0;
  padding: 0;
  color: #333333;
  text-align: left;
  font-size: 14px;
  line-height: 1.3;
  color: #999999;
}
.post .bottom-teaser .isRight .site-footer a {
  color: #333333;
  text-decoration: none;
}
.post .bottom-teaser .isRight .site-footer a:hover {
  text-decoration: underline;
}
.post .bottom-teaser .isRight .site-footer .poweredby {
  display: block;
  padding-bottom: 18px;
  font-weight: 700;
  color: #333333;
}
.share {
  text-align: right;
  padding: 20px 0 0;
}
.share a {
  text-decoration: none;
  color: #bbbbbb;
  padding-left: 12px;
}
.share a .hidden {
  display: none;
}
.share a:hover {
  color: #333333;
}
.bottom-closer {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.bottom-closer .background-closer-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-indent: -9999px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bottom-closer .inner {
  width: 100%;
  position: relative;
  z-index: 99;
  max-width: 640px;
  padding: 120px 0 90px;
  text-align: center;
  margin: 0 auto;
}
.bottom-closer .inner .blog-title {
  margin: 0;
  padding: 0 0 10px;
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  letter-spacing: -2px;
  outline: 0;
  line-height: 50px;
  word-break: break-word;
  color: white;
  text-shadow: 0px 1px 16px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.5);
}
.bottom-closer .inner .blog-description {
  margin: 0 0 50px;
  padding: 0 32px;
  font-size: 18px;
  line-height: 1.5;
  color: white;
  text-align: center;
  font-weight: 400;
  text-shadow: 0px 1px 16px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.5);
}
.bottom-closer .inner .custom-links {
  margin: 0 0 50px;
}
.bottom-closer .inner .btn {
  display: inline-block;
  text-align: center;
  letter-spacing: -0.02em;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
  height: 44px;
  background: #57ad68;
  color: white;
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: 999em;
  line-height: 44px;
  padding: 0 18px;
}
/**
 * Obsidian style
 * ported by Alexander Marenin (http://github.com/ioncreature)
 */
.hljs {
  display: block;
  padding: 0.5em;
  background: #282B2E;
}
.hljs-keyword,
.hljs-literal,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.lisp .hljs-title,
.clojure .hljs-built_in,
.nginx .hljs-title,
.css .hljs-id,
.tex .hljs-special {
  color: #93C763;
}
.hljs-number {
  color: #FFCD22;
}
.hljs {
  color: #E0E2E4;
}
.css .hljs-tag,
.css .hljs-pseudo {
  color: #D0D2B5;
}
.hljs-attribute,
.hljs .hljs-constant {
  color: #668BB0;
}
.xml .hljs-attribute {
  color: #B3B689;
}
.xml .hljs-tag .hljs-value {
  color: #E8E2B7;
}
.hljs-code,
.hljs-class .hljs-title,
.hljs-header {
  color: white;
}
.hljs-class,
.hljs-hexcolor {
  color: #93C763;
}
.hljs-regexp {
  color: #D39745;
}
.hljs-at_rule,
.hljs-at_rule .hljs-keyword {
  color: #A082BD;
}
.hljs-doctype {
  color: #557182;
}
.hljs-link_url,
.hljs-tag,
.hljs-tag .hljs-title,
.hljs-bullet,
.hljs-subst,
.hljs-emphasis,
.haskell .hljs-type,
.hljs-preprocessor,
.hljs-pragma,
.ruby .hljs-class .hljs-parent,
.hljs-built_in,
.sql .hljs-aggregate,
.django .hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.hljs-javadoc,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-addition,
.hljs-stream,
.hljs-envvar,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.hljs-prompt {
  color: #8CBBAD;
}
.hljs-string {
  color: #EC7600;
}
.hljs-comment,
.java .hljs-annotation,
.hljs-blockquote,
.hljs-horizontal_rule,
.python .hljs-decorator,
.hljs-template_comment,
.hljs-pi,
.hljs-deletion,
.hljs-shebang,
.apache .hljs-sqbracket,
.tex .hljs-formula {
  color: #818E96;
}
.hljs-keyword,
.hljs-literal,
.css .hljs-id,
.hljs-phpdoc,
.hljs-title,
.hljs-header,
.haskell .hljs-type,
.vbscript .hljs-built_in,
.sql .hljs-aggregate,
.rsl .hljs-built_in,
.smalltalk .hljs-class,
.diff .hljs-header,
.hljs-chunk,
.hljs-winutils,
.bash .hljs-variable,
.apache .hljs-tag,
.tex .hljs-special,
.hljs-request,
.hljs-at_rule .hljs-keyword,
.hljs-status {
  font-weight: bold;
}
.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
