<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Verificient Developer's Blog (Internal)</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}" />
    <script src="{% static 'blog/js/angular.js' %}"></script>
    <script src="{% static 'blog/js/angular-route.min.js' %}"></script>
    <script src="{% static 'blog/js/angular-cookies.js' %}"></script>
    <script src="{% static 'blog/scripts/app.js' %}"></script>
    <link href="{% static 'blog/css/font-awesome.min.css' %}" rel="stylesheet">
</head>
<body>

<div class="teaserimage">
    <div class="teaserimage-image" style="background-image: url({% static 'blog/img/bg1.jpg' %})">
        Teaser Image
    </div>
</div>

<header class="blog-header">
    <a class="blog-logo" href="http://verificient.com" style="background-image: url({% static 'blog/img/eye.png' %})">VD Blog</a>
    <h1 class="blog-title">Verificient Developer's Blog</h1>
<!--    <h2 class="blog-description"> #subtitle </h2> -->
    <div class="custom-links">
        <a href="#/">Home </a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'admin:blog_blog_add' %}">Write a Post</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://twitter.com/Verificient" target="_blank"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
        <a href="https://plus.google.com/hangouts/_/verificient.com/max" target="_blank"><i class="fa fa-google-plus"></i></a>&nbsp;&nbsp;
        <a href="https://www.facebook.com/verificient/" target="_blank"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'admin:logout' %}">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</header>
<main class="content" role="main">

<div ng-app="blogApp" class="container featured">
  <ng-view> </ng-view>

<!-- Navigation for pagination -->
<!-- <nav class="pagination" role="navigation">
        <span class="page-number">Page 1 of 7</span>
&nbsp;&nbsp;&nbsp;&nbsp;<a class="older-posts" href="/page/2/">Older</a>
</nav> -->
<footer class="site-footer">
  <div class="inner" >
  <div ng-controller="tagList">
    <section class="copyright">Tags 
    <span ng-repeat="tag in tags">
     <a href="#/posts/tag/{$ tag.id $}"> {$ tag.name $}, </a>
    </span>
    </section>
  </div>

  <div ng-controller="userList">
    <section class="copyright">Authors 
    <span ng-repeat="user in users">
     <a href="#/posts/author/{$ user.username $}"> {$ user.first_name $} {$ user.last_name $},  </a>
    </span>
    </section>
  </div>
    <section class="copyright">All content copyright <a href="http://verificient.com/">Verificient Inc</a> &copy; 2014 &bull; All rights reserved.</section>
    <section class="poweredby">Published with <a href="#"> DJ </a></section>
  </div>
</footer>
</div>
</div>

</main>
</body>
</html>
