<h1 class="post-title"> {$ post.title $} </h1>

<br>
<div class="summary">tldr : {$ post.tldr $} </div>
<br />
<iframe height="900px" width="160%" style="margin-left:-32%;" ng-src="{$ post.body | iframe $}"></iframe>
<div class="post-meta">
  <time datetime="2014-09-15">{$ post.posted | date:'dd MMM yyyy'$}</time> 
  by - {$ post.author.first_name $} {$ post.author.last_name $}

  <span ng-if="post.author.username == username"><a href="../edit/blog/blog/{$ post.id  $}" > Edit </a></span>
  <span ng-if="post.author.username == username"><a href="../edit/blog/blog/{$ post.id  $}/delete/" > Delete </a></span>
  <span class="post-tags-set">on
    <a ng-repeat="tag in post.tags" href="#tags/{$ tag.name $}">
    {$ tag.name $}, 
    </a>
  </span>
</div>
