  <div>
  <!-- Featured blogs here..what to blog -->
  <h5 class="index-headline featured"><span>** Featured Posts ** </span></h5>
  <article class="post tag-ebook tag-texte tag-articleimage tag-ebook-2 tag-bookrix tag-tunnelnovelle featured" ng-repeat="post in featured">
    <div class="article-item">
      <header class="post-header">
        <h1 class="post-title">{$ post.title $}</h2>
      </header>
      <section class="post-excerpt" itemprop="description">
        <div ng-if="post.type_of_blogpost == 'quote'" class="quote"> <p>{$ post.tldr $}  </div>
        <span ng-if="post.type_of_blogpost == 'article'"> 
        <p> {$ post.tldr $} 
        <div class="post-meta read-more"> <a href="#/post/{$ post.id $}" > Read More ... </a> </div>
        </span>
        <span ng-if="post.type_of_blogpost == 'link'"> 
        <p> {$ post.tldr $} 
        <div class="post-meta read-more"> <a href="#/link/{$ post.id $}" > Read More ... </a> </div>
        </span>
      </section>
      <div class="post-meta">
        <time datetime="2014-09-15">{$ post.posted | date:'dd MMM yyyy'$}</time> 
       by - <a href="#/posts/author/{$ post.author.username $}" > {$ post.author.first_name $} {$ post.author.last_name $} </a>

        <span ng-if="post.author.username == username"><a href="../edit/blog/blog/{$ post.id  $}" > Edit </a></span>
        <span ng-if="post.author.username == username"><a href="../edit/blog/blog/{$ post.id  $}/delete/" > Delete </a></span>
        <span class="post-tags-set">on
          <a ng-repeat="tag in post.tags" href="#tags/{$ tag.name $}">
            {$ tag.name $}, 
          </a>
        </span>
      </div>
    </div>
  </article>

  <h5 class="index-headline featured"><span>All Posts</span></h5>
  <article class="post tag-ebook tag-texte tag-articleimage tag-ebook-2 tag-bookrix tag-tunnelnovelle featured" ng-repeat="post in posts">
    <div class="article-item">
      <header class="post-header">
        <h1 class="post-title">{$ post.title $}</h1>
      </header>
      <section class="post-excerpt" itemprop="description">
        <div ng-if="post.type_of_blogpost == 'quote'" class="quote"> <p>{$ post.tldr $}  </div>
        <span ng-if="post.type_of_blogpost == 'article'"> 
        <p> {$ post.tldr $} 
        <div class="post-meta read-more"> <a href="#/post/{$ post.id $}" > Read More ... </a> </div>
        </span>
        <span ng-if="post.type_of_blogpost == 'link'"> 
        <p> {$ post.tldr $} 
        <div class="post-meta read-more"> <a href="#/link/{$ post.id $}" > Read More ... </a> </div>
        </span>
      </section>
      <div class="post-meta">
        <time datetime="2014-09-15">{$ post.posted | date:'dd MMM yyyy'$}</time> 
        by - <a href="#/posts/author/{$ post.author.username $}" >{$ post.author.first_name $} {$ post.author.last_name $} </a>
        <span ng-if="post.author.username == username"><a href="../edit/blog/blog/{$ post.id  $}" > Edit </a></span>
        <span ng-if="post.author.username == username"><a href="../edit/blog/blog/{$ post.id  $}/delete/" > Delete </a></span>
        <span class="post-tags-set">on
          <a ng-repeat="tag in post.tags" href="#tags/{$ tag.name $}">
            {$ tag.name $}, 
          </a>
        </span>
      </div>
    </div>
  </article>
  </div>
